Code/PopupPage/PopupPage.Android/bin/
Code/PopupPage/PopupPage.Android/obj/
Code/PopupPage/PopupPage.iOS/bin/
Code/PopupPage/PopupPage.iOS/obj/
Code/PopupPage/PopupPage/bin/
Code/PopupPage/PopupPage/obj/
